<!doctype html>

<html lang="en">
<head>
    <title>CS193P Grading</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <style>
        body {
            padding-top: 70px;
        }
    </style>

</head>

<body>

<div id="app"></div>

<script type="text/template" id="app-template">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="javascript:void(0)">CS193P | <%= user %></a>
            </div>

            <div class="navbar-collapse collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Grade <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#grade/6">Assignment 6</a></li>
                            <li><a href="#grade/5">Assignment 5</a></li>
                            <li><a href="#grade/4">Assignment 4</a></li>
                            <li><a href="#grade/3">Assignment 3</a></li>
                            <li><a href="#grade/2">Assignment 2</a></li>
                            <li><a href="#grade/1">Assignment 1</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Late Days <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#late-days/6">Assignment 6</a></li>
                            <li><a href="#late-days/5">Assignment 5</a></li>
                            <li><a href="#late-days/4">Assignment 4</a></li>
                            <li><a href="#late-days/3">Assignment 3</a></li>
                            <li><a href="#late-days/2">Assignment 2</a></li>
                            <li><a href="#late-days/1">Assignment 1</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Overview <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#overview/6">Assignment 6</a></li>
                            <li><a href="#overview/5">Assignment 5</a></li>
                            <li><a href="#overview/4">Assignment 4</a></li>
                            <li><a href="#overview/3">Assignment 3</a></li>
                            <li><a href="#overview/2">Assignment 2</a></li>
                            <li><a href="#overview/1">Assignment 1</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Send Emails <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#send-emails/6">Assignment 6</a></li>
                            <li><a href="#send-emails/5">Assignment 5</a></li>
                            <li><a href="#send-emails/4">Assignment 4</a></li>
                            <li><a href="#send-emails/3">Assignment 3</a></li>
                            <li><a href="#send-emails/2">Assignment 2</a></li>
                            <li><a href="#send-emails/1">Assignment 1</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="javascript:void(0)" class="save-indicator"></a></li>
                </ul>

            </div>

        </div>
    </div>

    <div class="container">
        <div class="loading-alert row">
            <div class="col-xs-12">
                <div class="alert alert-info" style="text-align: center;">
                    <h2>Loading grade reports...</h2>
                </div>
            </div>
        </div>

        <div class="app-view-container row">
        </div>

    </div>

</script>

<script type="text/template" id="grade-reports-view-template">
    <div class="col-xs-2">
        <button class="add-grade-report btn btn-sm btn-default" style="width: 100%">Add Student(s)</button>
        <br><br>
        <ul class="grade-report-list nav nav-pills nav-stacked">
            <% _.each(gradeReports, function(gradeReport) { %>
            <li class="<%= gradeReport.gradedForSunetid === curGradedForSunetid ? 'active' : '' %>">
                <a href="#grade/<%= gradeReport.assignment %>/<%= gradeReport.gradedForSunetid %>">
                    <%= gradeReport.gradedForSunetid %>
                </a>
            </li>
            <% }); %>
        </ul>
    </div>

    <div class="col-xs-10 grade-report-container">
    </div>
</script>

<script type="text/template" id="grade-report-view-template">
    <h1>
        Grade report for: <%= gradedForSunetid %>
        <button class="delete-submission btn btn-sm btn-danger" style="margin-bottom: 10px;">Delete Student</button>
    </h1>

    <table class="table table-hover table-bordered">
        <tbody class="comment-table">
        <tr>
            <td><strong>Grade</strong></td>
            <td>
                <select class="grade form-control">
                    <option>TODO</option>
                    <option>+</option>
                    <option>Check+</option>
                    <option>Check/Check+</option>
                    <option>Check</option>
                    <option>Check/Check-</option>
                    <option>Check-</option>
                    <option>-</option>
                </select>
            </td>
        </tr>

        <tr>
            <td><strong>Late Days</strong></td>
            <td>
                <input class="late-day-count form-control"
                       type="text"
                       placeholder="Late Day Count"
                       value="<%= typeof(lateDayCount) === 'undefined' ? '' : lateDayCount %>" />
            </td>
        </tr>

        </tbody>
    </table>
</script>

<script type="text/template" id="grade-report-view-table-header-template">
    <tr>
        <th><%= header %></th>
        <th style="min-width: 240px;"></th>
    </tr>
</script>

<script type="text/template" id="grade-report-required-task-comment-view-template">
    <td><%= text %></td>
    <td class="<%= value === '-1' ? 'success' : (value === '1' ? 'danger' : '') %>">
        <div class="radio">
            <label>
                <input type="radio" name="<%= gradeReportID %>_<%= id %>" value="-1" <%= value === "-1" ? "checked" : "" %>> Task was done
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="<%= gradeReportID %>_<%= id %>" value="1" <%= value === "1" ? "checked" : "" %>> Task was NOT done
            </label>
        </div>
    </td>
</script>

<script type="text/template" id="grade-report-evaluation-comment-view-template">
    <td><%= text %></td>
    <td class="<%= value === '-1' ? 'success' : (value === '1' ? 'danger' : '') %>">
        <div class="radio">
            <label>
                <input type="radio" name="<%= gradeReportID %>_<%= id %>" value="-1" <%= value === "-1" ? "checked" : "" %>> This was NOT an issue
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="<%= gradeReportID %>_<%= id %>" value="1" <%= value === "1" ? "checked" : "" %>> This was an issue
            </label>
        </div>
    </td>
</script>

<script type="text/template" id="grade-report-extra-credit-comment-view-template">
    <td><%= text %></td>
    <td class="<%= value === '1' ? 'success' : (value === '-1' ? 'warning' : '') %>">
        <div class="radio">
            <label>
                <input type="radio" name="<%= gradeReportID %>_<%= id %>" value="1" <%= value === "1" ? "checked" : "" %>> Item was done
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="<%= gradeReportID %>_<%= id %>" value="-1" <%= value === "-1" ? "checked" : "" %>> Item was NOT done
            </label>
        </div>
    </td>
</script>

<script type="text/template" id="grade-report-other-comment-view-template">
    <td>
        <% if (isPublic) { %>
        <span alt="public comment" class="glyphicon glyphicon-globe"></span>
        <% } %>
        <p><%= text.replace(/\n/g,"<br>") %></p>
        <button class="edit-comment btn btn-default btn-xs" type="button">Edit Comment</button>
    </td>
    <td class="<%= value === '1' ? 'info' : '' %>">
        <div class="checkbox">
            <label>
                <input class="comment-applies" type="checkbox" value="1" <%= value === "1" ? "checked" : "" %>> This comment applies
            </label>
        </div>
    </td>
</script>

<script type="text/template" id="grade-report-other-comment-edit-view-template">
    <td>
        <% if (isPublic) { %>
        <div class="alert alert-danger">
            This is a public comment.<br/>
            Public comments are shared between all graders.<br/>
            Modifications to public comments affect all graders.
        </div>
        <% } %>

        <textarea class="form-control" rows="5"><%= text %></textarea>
        <button class="edit-comment-done btn btn-default btn-xs" type="button">Done</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button class="edit-comment-cancel btn btn-danger btn-xs" type="button">Cancel</button>
    </td>
    <td class="<%= value === '1' ? 'info' : '' %>">
        <div class="checkbox">
            <label>
                <input class="comment-applies" type="checkbox" name="<%= objectId %>" value="1" <%= value === "1" ? "checked" : "" %>>
                This comment applies
            </label>
        </div>
    </td>
</script>

<script type="text/template" id="grade-report-other-comment-create-view-template">
    <td>
        <textarea class="form-control" rows="5"></textarea>
        <button class="add-comment btn btn-default btn-xs" type="button">Add Comment</button>
        <div class="checkbox">
            <label>
                <input class="is-public" type="checkbox" value="1">
                Check to make this a public/global/shared comment<br/>
                (as opposed to specific to this student)<br/>
                Public comments are shared between all graders.<br/>
                Modifications to public comments affect all graders.
            </label>
        </div>
    </td>
    <td></td>
</script>

<script type="text/template" id="grade-report-readonly-view-template">
    <h1>Grades for assignment <%= assignment %></h1>
    <table class="table table-hover table-bordered">
        <tbody class="comment-table">
        <tr>
            <th>Graded by</th>
            <th>Graded for</th>
            <th>Grade</th>
            <th>Late Days</th>
            <th>Comments</th>
        </tr>
        <% _.each(gradeReports, function(gradeReport) { %>
        <tr>
            <td><%= gradeReport.gradedBySunetid %></td>
            <td><%= gradeReport.gradedForSunetid %></td>
            <td><%= gradeReport.grade %></td>
            <td><%= typeof(gradeReport.lateDayCount) === 'undefined' ? '' : gradeReport.lateDayCount %></td>
            <td>
                <% var curType = null; %>
                <% _.each(gradeReport.comments, function(comment) { %>
                    <% if (comment.type !== curType) { %>
                        <% if (curType !== null) %></ul>
                        <% curType = comment.type; %>
                        <h6><%= comment.type %></h6>
                        <ul>
                    <% } %>
                    <% if (comment.value === "1") %>
                        <li><%= comment.text %></li>
                <% }); %>
                </ul>
            </td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</script>

<script type="text/template" id="late-day-view-template">
    <h1>Late days for assignment <%= assignment %></h1>

    <h2>
        Due Date:
        <% if (assignment == 2) { %>
        April 15, 2014 @ 4:15p
        <% } else if (assignment == 3) { %>
        April 22, 2014 @ 4:15p
        <% } else { %>
        ?
        <% } %>
    </h2>

    <table class="late-day-table table table-hover table-bordered">
        <tr>
            <th>Sunetid</th>
            <th>Late Days</th>
        </tr>
    </table>
</script>

<script type="text/template" id="late-day-item-view-template">
    <td><%= gradedForSunetid %></td>
    <td><input class="form-control" type="text" value="<%= typeof(lateDayCount) === 'undefined' ? '' : lateDayCount %>"></input></td>
</script>

<script type="text/template" id="send-email-view-template">
    <div class="email-alerts" style="position: fixed; opacity: 0.95;"></div>

    <h1>Send Emails for Assignment <%= assignment %></h1>

    <p><button class="send-all btn btn-primary">Send All Unsent Grade Reports</button></p>

    <table class="table table-hover table-bordered">
        <tbody class="send-email-table">
        <tr>
            <th>Send Email</th>
            <th>Has been sent?</th>
            <th>Email</th>
        </tr>
        </tbody>
    </table>
</script>

<script type="text/template" id="send-email-item-view-template">
    <td>
        <button class="send-email btn btn-default">Send email</button>
    </td>
    <td><%= isSent ? "Yes" : "No" %></td>
    <td>
        <strong>From:</strong> <%= from %><br>
        <strong>To:</strong> <%= to %><br>
        <strong>Subject:</strong> <%= subject %><br><br>

        <div class="well"><%= body %></div>
    </td>
</script>

<script type="text/template" id="grade-report-email-template">
    <p><strong>Graded by:</strong> <%= gradedBySunetid %></p>
    <p><strong>Graded for:</strong> <%= gradedForSunetid %></p>
    <p><strong>Grade:</strong> <%= typeof(grade) === "undefined" ? "" : grade %></p>
    <p><strong>Late Days:</strong> <%= typeof(lateDayCount) === "undefined" ? "" : lateDayCount %></p>

    <p>
        <% var curType = null; %>
        <% _.each(comments, function(comment) { %>
        <% if (comment.type !== curType) { %>
        <% if (curType !== null) %></ul>
        <% curType = comment.type; %>
        <strong><%= comment.type %></strong>
        <ul>
            <% } %>
            <% if (comment.value === "1") %>
            <li><%= comment.text %></li>
        <% }); %>
        </ul>
    </p>

    <p>
        <br>
        <em>
            Please let us know if you feel there were any issues in the grading of your assignment.
            Thank you for your hard work! :)
        </em>
    </p>
</script>

<script src="js/lib/jquery-1.11.0.js"></script>
<script src="js/lib/underscore.js"></script>
<script src="js/lib/bootstrap.js"></script>
<script src="js/lib/parse-1.2.18.js"></script>

<script src="js/models/comment.js"></script>
<script src="js/models/grade-report-comment.js"></script>
<script src="js/models/grade-report.js"></script>
<script src="js/collections/comments.js"></script>
<script src="js/collections/grade-report-comments.js"></script>
<script src="js/collections/grade-reports.js"></script>
<script src="js/views/grade-report-comment-view.js"></script>
<script src="js/views/grade-report-view.js"></script>
<script src="js/views/grade-report-readonly-view.js"></script>
<script src="js/views/late-day-view.js"></script>
<script src="js/views/send-email-view.js"></script>
<script src="js/views/app-view.js"></script>

<script>
    Parse.initialize("DwL6Xc95EIQPSketONgcsaUOXD1HJ41Rgm8VBIeq", "7rhuu2liFvpYbiJ2Usu9L0U5oSNA9lpUk8ilWnaN");

    $(function () {
        // Note that this authorization scheme can be easily bypassed.
        // This wasn't seen as an issue because the whole site is only
        // accessible by the course staff, who are deemed trustworthy,
        // via htaccess.
        $.get('api/index.php/user', function (result) {
            window.USER = result.user;
            var app = new AppView();
            Parse.history.start();
        });
    });
</script>

</body>

</html>
