<form method="POST">

<textarea name="students" cols="30" rows="50"><% _.each(reports, function(report) { %>
<%= report.gradedForSunetid %><% }); %></textarea>

<button type="submit">Submit</button>
</form>
